body {
    font-family: 'Titillium', 'PT Sans', sans-serif;

    min-height: 740px;

    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(240, 240, 240)), to(rgb(190, 190, 190)));
    background: -webkit-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:    -moz-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:     -ms-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:      -o-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:         radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));

    background: rgb(215, 215, 215);
    color: rgb(102, 102, 102);
}

a {
  color:black;
}

@keyframes map {
  from {background-position: 0 0;}
  to {background-position: -1280px -1280px;}
}

div#map {
  background: url(../img/pierce-cylc.png);
  background-size: 1280px 1280px;
  animation-duration: 25s;
  animation-name: map;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.emph {
    color: rgb(100,150,200);
}

.emph1 {
    color: rgb(200,150,100);
}

.notes {
  display:none;
}

.step {
    position: relative;
    width: 1000px;
    height: 750px;
    padding: 40px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    -o-box-sizing:      border-box;
    box-sizing:         border-box;

    font-family: 'Titillium', 'PT Serif', georgia, serif;
    font-size: 40px;
    line-height: 1.5;

    /* use to check centering of content: */
    /* border:2px solid red; */
}

.image {
  margin:0;
  padding:0;
}

code {
  font-family: "Courier";
  font-size: 80%;
  font-weight: bold;
}

p code {
  color:red;
}

.step {
    opacity: 0.3;
}

.step.past, .step.present {
    opacity: 1;
    transition: opacity 0.2s;
}

/* Substep plugin */
#impress .step .substep {
    opacity: 0;
    transition: opacity 0.5s;
}

#impress .step .substep.substep-visible {
    opacity: 1;
    transition: opacity 0.5s;
}

.substep-visible.flash {
    opacity: 0!important;
    /*transition: opacity 0.5s;*/
}

.substep-current.flash {
    opacity: 1!important;
    /*transition: opacity 0.5s;*/
}

h1 {
    font-size: 70px;
}

h2 {
    font-size: 60px;
}

h1, h2, h3 {
    margin-top:0;
}

#title p {
    color:#782d94;
    font-size:80%
  }


.person img {
    float: left;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: -10px 50px 0 0;
}

.person .text {
    float: left;
}

.person span.name {
    font-size: 45px;
}

.person span.description {
    font-size: 25px;
}

img.small {
    width: 150px;
}

img.full {
    height: 500px;
}

li.small {
    font-size: 35px;
}

td {
    padding: 5px 15px 5px 15px;
    text-align: center;
}

.bubble {
    border-radius: 100%;
    background: grey;
    padding: 10px 40px 10px 40px;
    text-align: center;
    color: white;
}

.impress-enabled div#impress-toolbar {
    position: fixed;
    right: 1px;
    bottom: 1px;
    opacity: 0.6;
    z-index: 10;
}
.impress-enabled div#impress-toolbar > span {
    margin-right: 10px;
}

/* Progress bar */
.impress-progressbar {
  position: absolute;
  right: 118px;
  bottom: 1px;
  left: 118px;
  border-radius: 7px;
  border: 2px solid rgba(100, 100, 100, 0.2);
}
.impress-progressbar DIV {
  width: 0;
  height: 2px;
  border-radius: 5px;
  background: rgba(75, 75, 75, 0.4);
  transition: width 1s linear;
}
.impress-progress {
  position: absolute;
  left: 59px;
  bottom: 1px;
  text-align: left;
  font-size: 10pt;
  opacity: 0.6;
}

.strike {
    text-decoration: line-through;
    text-decoration-color: red;
}
